<!-- Email sent when a new delivery is registered -->
<strong>Olá, {{deliveryman}}</strong>

<p>Há uma nova encomenda esperando sua retirada, confira os detalhes da entrega abaixo:</p>

<p>
  <strong>Produto:</strong> {{product}} <br />
  <strong>Destinatário:</strong> {{recipient}} <br /> <br />
  <strong>Endereço:</strong> <br />
  <p>
    <strong>Rua: </strong> {{street}} <br />
    <strong>Número: </strong> {{number}} <br />
    <strong>Complemento: </strong> {{complement}} <br />
    <strong>Cidade: </strong> {{city}} <br />
    <strong>Estado: </strong> {{state}} <br />
    <strong>CEP: </strong> {{postcode}} <br />
  </p>
  <br />
    A encomenda está pronta para a retirada das 08:00 às 18:00.
</p>
